body {
      background: #1a1a1a;
}
#headerwrap {
  min-height: 0;
  height: 500px;
  border-bottom: 1px solid rgb(58, 56, 56)
}
#headerwrap h1 {
  margin-top: 80px;
}
.live-git-links {
  font-size: 25px;
}
img {
  width: 450px;
  height: 300px;
}
ul {
  padding: 0;
  margin: 0;
}

.resume-git-linked {
  display: flex;
  justify-content: center;
  list-style: none;
}
.resume-git-linked li {
  list-style: none;
  float: left;
  border: 1px solid orange;
  border-radius: 10px;
  min-width: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.resume-git-linked li:hover {
  background: black;
}

.resume-git-linked li a {
  color: white;
}

.portfolio section p {
  margin: 0;
  padding: 0;
}
#f {
  border-bottom: 1px solid rgb(58, 56, 56)
  padding-top: 0;
}

#f h1 {
  color: white;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
  min-width: 130px;
  text-decoration: underline;
}

#f.portfolio{
  display: block;
  position: relative;
  1px solid rgb(58, 56, 56): #1a1a1a;
}

.project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(58, 56, 56)
}

#f .project-list h1 {
  position: absolute;
  margin: 0 auto;
  top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.one-project {
  float: left;
  margin: 40px;
}

h2 {
  color: white;
}
.live-git-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.live-git-links li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.used-language {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 20px;
}

.used-language li {
  list-style: none;
  float: left;
  border: 1px solid orange;
  border-radius: 10px;
  min-width: 100px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}



#f.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(58, 56, 56);
  padding-top: 0;
}

.skills h4 {
  padding-top: 6px;
  margin-left: 15px;
  margin-right: 15px;
  color: orange;
}
.skills ul {
  margin-left: 30px;
}
.skills h3 {
  font-style: italic;
}
.skills-languages {
  display: flex;
  align-items: center;
}
.skills-languages li {
  list-style: none;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.skills-development {
  display: flex;
  align-items: center;
}
.skills-development li{
  list-style: none;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

#f.contact h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.contact-wrapper {
margin: 0 auto;
}

#f.contact h3 a {
  color: orange;
}
.github {
  border-right: 1px solid grey;
  padding-right: 10px;
  margin-right: 10px;
}

@media (max-width: 736px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: #1a1a1a;
  }
  h3 {
    margin-left: 10px;
    margin-right: 10px;
  }
  #f.portfolio {
    display: block;
    border: none;
    padding-bottom: 0;
  }
  img {
    width: 80%
  }
  .one-project {
    display: block;
    margin: 0;
    margin-top: 20px;
  }
  .project-list {
    padding-bottom: 25px;
  }
  #headerwrap {
    border-bottom: 1px solid rgb(58, 56, 56);
    padding-bottom: 533px;
  }
  #f.skills {
    display: none;
    border: none;
  }
  #f.contact {
    padding-top: 0;
  }
}
